_build/
_config/
.*.swp
tests/*.cmi
tests/*.cmo
tests/render_pp.ml
tests/render
tests/a.out
tests/extension_pp.ml
tests/test
configure
setup.log
setup.ml
myocamlbuild.ml
*.mldylib
*.mllib
*.odocl
*.mlpack
**/META
*~
setup.data
cow.docdir
_tags
